.clothes-section__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.clothes-section__header-container {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  line-height: 1;
}

.clothes-section__title {
  margin: 16px 0;
  font-family: "Cabinet Grotesk Regular", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.clothes-section__add-btn {
  width: fit-content;
  font-family: "Cabinet Grotesk Regular", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.cards__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  justify-content: center;
  gap: 20px;
  margin: 0 0 85px 0;
}
