.user {
  display: flex;
  gap: 12px;
}

.user__image {
  width: 56px;
  height: 56px;
}

.user__name {
  text-align: center;
  text-wrap: nowrap;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
}
