.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__user {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.sidebar__user-image {
  width: 56px;
  height: 56px;
}

.user-image__placeholder {
  border-radius: 50%;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.sidebar__user-name {
  text-align: center;
  text-wrap: nowrap;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
}

.sidebar__button {
  margin-bottom: 8px;
  text-align: left;
  width: fit-content;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}
