.modal__container.modal__container_type_add-clothes {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  max-width: 496px;
  padding: 16px 8px;
  position: relative;
}

.modal__close-btn.form-modal__close-btn {
  background-image: url("src/images/close-btn-grey.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 28px;
  opacity: 50%;
}

.modal__close-btn.form-modal__close-btn:hover {
  opacity: 100%;
}

.form-modal__title {
  margin: 0 0 24px 0;
  font-size: 16px;
}

.add-clothes__form_element {
  margin: 0 0 24px 0;
}

.add-clothes__label {
  display: block;
  margin: 0 0 8px 0;
}

.add-clothes__input {
  display: block;
  accent-color: black;
}

.add-clothes__input_type_text {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.add-clothes__weather_container {
  margin: 0 0 32px 0;
}

.add-clothes__radio-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0 0 8px 0;
}

.add-clothes__label_type_radio {
  color: rgba(0, 0, 0, 0.5);
}

input[type="radio"]:checked + label {
  color: rgba(0, 0, 0, 1);
}

.form-modal__submit-btn {
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
