.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-letter-f {
  color: white;
  transition: 0.2s;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
  position: relative;
  left: 9px;
}

.switch-letter-c {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
  position: relative;
  right: 9px;
}

.react-switch-checkbox:checked + .react-switch-label .switch-letter-f {
  color: rgba(0, 0, 0, 0.5);
}

.react-switch-checkbox:checked + .react-switch-label .switch-letter-c {
  color: white;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 56px;
  height: 28px;
  background: white;
  border-radius: 100px;
  border: solid 2px #7e7e7e;
  position: relative;
  transition: background-color 0.2s;
}

.react-switch-label:hover {
  border-color: black;
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  border-radius: 45px;
  transition: 0.2s;
  background: black;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  transform: translateX(100%);
}
