.weatherCard {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-radius: 12px;
  margin-bottom: 40px;
  padding: 20px;
}

.weatherCard__temperature {
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  display: inline-block;
  margin: 0;
}
