.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* I should be able to delete this later, as it should be handled in react */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  padding: 0 20px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: white;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 50px;
  position: relative;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-image: url("../images/close-btn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 40%;
  border: none;
  cursor: pointer;
}
