.modal__container.modal__container_type_confirmation-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 670px;
  padding: 60px 0;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.modal__close-btn.confirmation-modal__close-btn {
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  background-image: url("src/images/close-btn-grey.svg");
  opacity: 50%;
}

.modal__close-btn.confirmation-modal__close-btn:hover {
  opacity: 100%;
}

.modal__title.modal__title_type_confirmation {
  max-width: 380px;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-family: "Cabinet Grotesk Regular", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__delete-btn.modal__delete-btn_type_confirmation {
  margin-bottom: 24px;
  width: fit-content;
  color: red;
  background-color: transparent;
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  border: none;
  cursor: pointer;
}

.modal__cancel-btn.modal__cancel-btn_type_confirmation {
  width: fit-content;
  background-color: transparent;
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  border: none;
  cursor: pointer;
}
