.header {
  display: flex;
  justify-content: space-between;
}

/* Left Section of styles */
.header__left-side {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
}

.header a {
  text-decoration: none;
  color: black;
}

.header__image {
  margin-right: 24px;
  width: 89px;
  height: 40px;
}

.header__date-location {
  margin: 0;
}

/* Right Section of styles */
.header__right-side {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
}

/* Transport the below styles to its own user.css stylesheet in future */
.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0px;
}

.header__user-name {
  margin: 0;
}

.header__user-image {
  width: 40px;
  height: 40px;
}

.user-image__placeholder {
  border-radius: 50%;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__button {
  margin: 0;
  margin-left: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: fit-content;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
