.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 24px;
}

.header__left-side {
  display: flex;
  gap: 24px;
}

.header__right-side {
  display: flex;
  gap: 20px;
}

.header__image {
  align-self: center;
  width: 89px;
  height: 40px;
}

.header__date-location {
  text-wrap: nowrap;
  font-size: 20px;
  line-height: 24px;
}

.header__button {
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
}

/* Transport the below styles to its own user.css stylesheet in future */
.user {
  display: flex;
  gap: 12px;
}

.user__name {
  text-align: center;
  text-wrap: nowrap;
  font-size: 20px;
  line-height: 24px;
}
