/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  padding: 0 20px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: white;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 50px;
  position: relative;
  border-radius: 8px;
} */

.modal__container {
  padding: 0;
  width: fit-content;
  overflow: hidden;
  border-radius: 16px;
  font-size: 20px;
  line-height: 24px;
}

.item-modal__image {
  margin-bottom: 20px;
}

.item-modal__title {
  margin: 0;
  width: fit-content;
  margin-bottom: 12px;
  margin-left: 32px;
}

.item-modal__description {
  margin: 0;
  width: fit-content;
  margin-bottom: 32px;
  margin-left: 32px;
}
