.modal__container_type_item-modal {
  padding: 0;
  width: fit-content;
  overflow: hidden;
  border-radius: 16px;
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.item-modal__image {
  margin-bottom: 20px;
}

.item-modal__close-btn {
  width: 20px;
  height: 20px;
  top: 24px;
  right: 24px;
}

.item-modal__content {
  display: flex;
  flex-direction: column;
}

.item-modal__title {
  margin: 0;
  width: fit-content;
  margin-bottom: 12px;
  margin-left: 32px;
}

.item-modal__description {
  margin: 0;
  width: fit-content;
  margin-bottom: 32px;
  margin-left: 32px;
}

.item-modal__delete-btn {
  width: 101px;
  align-self: flex-end;
  justify-self: flex-start;
}
