.modal__container.modal__container_type_item-modal {
  padding: 0;
  width: fit-content;
  overflow: hidden;
  border-radius: 16px;
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  position: relative;
}

.item-modal__image {
  margin-bottom: 20px;
}

.item-modal__close-btn {
  width: 20px;
  height: 20px;
  top: 24px;
  right: 24px;
}

.item-modal__title {
  margin: 0;
  width: fit-content;
  margin-bottom: 12px;
  margin-left: 32px;
}

.item-modal__description {
  margin: 0;
  width: fit-content;
  margin-bottom: 32px;
  margin-left: 32px;
}

.item-modal__delete-btn {
  width: fit-content;
  position: absolute;
  right: 32px;
  bottom: 68px;
  color: #ff4d00;
  background-color: transparent;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
