@import url("./vendor/fonts/style.css");
/* wanted to create a general modal style sheet then override as neccessary */
@import url("./styles/modal.css");
@import url("./components/App/App.css");
@import url("./components/Header/Header.css");
@import url("./components/Main/Main.css");
@import url("./components/WeatherCard/WeatherCard.css");
@import url("./components/ItemCard/ItemCard.css");
@import url("./components/Footer/Footer.css");
@import url("./components/ItemModal/ItemModal.css");
